<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add Campground</a>
</div>
<ul>
    <% for(let campgroundObj of campgroundArr) { %>
        <li><a href="/campgrounds/<%= campgroundObj._id %>">
                <%= campgroundObj.title %>
            </a></li>
        <% } %>
</ul>