<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores incidunt sapiente, voluptatem temporibus, sed
        distinctio itaque nam dolorem eius possimus neque similique, velit consectetur excepturi ipsam. Delectus eum
        eligendi libero?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, nobis illum. Iste, sequi. Nobis quae odit in
        alias, animi hic tempore? Illo ipsam dignissimos rem eum, debitis est dicta quibusdam!</p>
</body>

</html>