h3 {
    color: indigo;
    background-color: plum;
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
}

.example1 {
    background-color: rgb(89, 151, 0);
}

.example2 {
    background-color: #5FCFFC;
}