<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Add a Product</h1>
    <form action="/products/<%= productObj._id %>?_method=PUT" method="post">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="product name" value="<%= productObj.name %>">
        <label for="price">Price (Unit)</label>
        <input type="number" name="price" id="price" placeholder="price" value="<%= productObj.price %>">
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <option value="Fruit">Fruit</option>
            <option value="Vegetable">Vegetable</option>
            <option value="Dairy">Dairy</option>
        </select>
        <button>Submit</button>
    </form>
    
    <a href="/products/<%= productObj._id %>">Cancel</a>
</body>
</html>