<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farmObj.name %></title>
</head>
<body>
    <h1><%= farmObj.name %></h1>
    <ul>
        <li>City: <%= farmObj.city %></li>
        <li>Email: <%= farmObj.email %></li>
    </ul>
    <a href="/farms">All Farms</a>
</body>
</html>